:root{
    --backgroudColor: #0E315B;
    --firstColor: #98CC3E;
    --secondColor: #21A097;
    --darkColor: #051336;
    --softColor: #FF5733;
    --warningColor: #C70039;
}

.navbar{
    background:  linear-gradient(90deg, #051336, #0E315B, #24385B, #98CC3E);
}

main{
    margin-top: 57px;
}
main .carousel-inner img, main .carousel-inner object{
    max-height: 70vh;
    object-fit: cover;
    border-radius: 45px;
}

.img-icon-grid{
    max-width: 30%;
    object-fit: cover;
    border-radius: 45px;
}

body{
    background-color: rgb(14, 49, 91);
}

.profile-image{
    border-radius: 45px;
}

object{
    width: 100%;
    height: 400px;
}

.input-group-text{
    background-color: #198754;
    color: white;
}

.input-group{
    border: 2px solid #198754;
    border-radius: 9px;
}

#secPortfolio{
    background-color: var(--firstColor);
}

#secProjects{
    background-color: var(--firstColor);
}

#secSkills{
    background-color: var(--warningColor);
}

#secTecTools{
    background-color: var(--secondColor);
}

.text-big{
    font-size: 6rem;
}


/* fondo para el item activo de la barra de navegación */
#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fff;
    background: var(--firstColor);
}


/* clase para iconos de la grilla de aptitudes humanas*/
.service-icon {
    background-color: #fff;
    color: #1D809F;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}


/*Clases para el portafolio*/
.portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: var(--warningColor);
  }
  .portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
  }
  .portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
  }
  
  .portfolio-modal .btn-close {
    color: var(--secondColor);
    font-size: 2rem;
    padding: 1rem;
  }
  .portfolio-modal .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    .portfolio-modal .portfolio-modal-title {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }